<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>精灵大数据平台</title>
    <link rel="stylesheet" href="css/base.css">
</head>
<body>
    <!-- <h1>精灵大数据平台</h1> -->
    <div class="wraper">    
        <div id="crowdDensity"></div>
        <div id="goAnalyze"></div>
        <div id="highTime">高峰折线图</div>
        <div id="goRoute">人口出行路线，标签化</div>
    </div>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=yNbfmNfZW6zLMb6td4XXeofGoXupafds"></script>
    <script type="text/javascript" src="js/echarts.js"></script>
    <script type="text/javascript" src="js/bmap.js"></script>
    <script type="text/javascript" src="js/heatmapdata1.js"></script>
    <script type="text/javascript" src="js/goroutedata.js"></script>
    <script type="text/javascript" src="componetsJs/crowdDensity.js"></script>
    <script type="text/javascript" src="componetsJs/goRoute.js"></script>
    <script type="text/javascript" src="componetsJs/highTime.js"></script>
</body>
</html>