html {
    height: 100%;
    width:100%
}

body {
    height: 100%;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
    background-color:#091220ff;
}

.BMap_cpyCtrl {
    display: none;
}

.anchorBL {
    display: none;
}
.wraper{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
#crowdDensity {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
#logo{
    width: 20%;
    height: 10%;
    position: absolute;
    left: 1%;
    /* border: 1px solid #f40; */
    z-index: 1;
}
#logo span{
    display: inline-block;
    background-repeat: no-repeat;
}
#logo .logo-icon{
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    background-image: url(../images/demon-logo-icon.svg);
}
#logo .word-icon{
    width: 115px;
    height: 115px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    margin-left: 35px;
    background-image: url(../images/demon-logo-word.svg);
}
#logo p{
    color: #fff;
    position: absolute;
    right: 0;
    top: 7px;
}
#title{
    width: 200px;
    height: 40px;
    font-size: 25px;
    line-height: 25px;
    background-color:#091220ff;
    color: #0099FF;
    border-right: 1px solid #666;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    border-bottom-left-radius:50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -125px;
    z-index: 1;
    text-align: center;
}
#goAnalyzewraper{
    width: 30%;
    height: 49%;
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    right: 1.5%;
    color: #0099FF;
    /* margin-top: 60px; */
}
#goAnalyze{
    width: 100%;
    height: 80%;
    background-image: url(../images/goAnalyze.jpg);
    background-size: 100% 100%;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 5px;
}
#goRoutewraper{
    width: 30%;
    height: 49%;
    position: absolute;
    top: 2.5%;
    right: 1.5%;
    color: #0099FF;
}
#goRoute{
    width: 100%;
    height: 90%;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 5px;
}
#goWraper{
    width: 20%;
    height: 90%;
    position: absolute;
    top: 10%;
    left: 1%;
}
#calendar{
    width: 100%;
    height: 32%;
    position: absolute;
    top: 0;
    background-color: #091220ff;
    border: 1px solid #666;
    border-radius: 5px;
}
#goModewraper{
    width:100%;
    height:32%;
    /* color: #0099FF; */
    position: absolute;
    top: 33%;
}
#goMode{
    width: 100%;
    height: 100%;
    background-color: #091220ff;
    border: 1px solid #666;
    border-radius: 5px;
}
#highTimewraper{
    width:100%;
    height:32%;
    color: #0099FF;
    position: absolute;
    bottom: 2%;
}
#highTime{
    width: 100%;
    height: 100%;
    background-color: #091220ff;
    border: 1px solid #666;
    border-radius: 5px;
}
